In [85]:
import pandas as pd
import numpy as np

In [86]:
df = pd.read_csv('new_tuned_references.csv')
df.tail()

,paper_name_infor,institution_infor,author_infor,journal_infor,dont_know_infor,page_infor,year_infor,field_infor,cited_infor,char_refer,degree_refer,journal_refer,name_refer,paper_refer,school_refer,year_refer
37242,"Corporate Diversification, Relatedness, and Fi...",한국증권학회,"배성철 , 권택호 , 이장우",Asia-Pacific Journal of Financial Studies,37(6),pp.1025~1064,2008.12,경영학,피인용횟수 : 20,[기타자료],NaN,"Working paper, Harvard University,","Villalonga, Belen",Does Diversification Cause the “Diversificatio...,NaN,1999.0
37243,"Corporate Diversification, Relatedness, and Fi...",한국증권학회,"배성철 , 권택호 , 이장우",Asia-Pacific Journal of Financial Studies,37(6),pp.1025~1064,2008.12,경영학,피인용횟수 : 20,[학술지(정기간행물)],NaN,"Journal of Finance 59 : 479 ~ 506,","Villalonga, Belen",Diversification discount or premium? New Evide...,NaN,2004.0
37244,"Corporate Diversification, Relatedness, and Fi...",한국증권학회,"배성철 , 권택호 , 이장우",Asia-Pacific Journal of Financial Studies,37(6),pp.1025~1064,2008.12,경영학,피인용횟수 : 20,[학술지(정기간행물)],NaN,"Financial Management 33 : 5 ~ 27,","Villalonga, Belen",Does Diversification Cause the Diversification...,NaN,2004.0
37245,"Corporate Diversification, Relatedness, and Fi...",한국증권학회,"배성철 , 권택호 , 이장우",Asia-Pacific Journal of Financial Studies,37(6),pp.1025~1064,2008.12,경영학,피인용횟수 : 20,[학술지(정기간행물)],NaN,"St. John’s Review 44 : 66 ~ 80,","Weston, J. F",The Nature and Significance of Conglomerate Firms,NaN,1970.0
37246,"Corporate Diversification, Relatedness, and Fi...",한국증권학회,"배성철 , 권택호 , 이장우",Asia-Pacific Journal of Financial Studies,37(6),pp.1025~1064,2008.12,경영학,피인용횟수 : 20,[학술지(정기간행물)],NaN,Journal of Finance 56 : 1667 ~ 1691,"Whited, Toni M",Is It Inefficient Investment That Causes the D...,NaN,2001.0

In [87]:
df['year_infor'] = [str(i).split('.')[0] for i in df['year_infor']]
df['year_refer'] = [str(i).split('.')[0] for i in df['year_refer']]

In [88]:
groupby_df1 = df.groupby(['journal_infor','year_infor']).aggregate({'paper_name_infor':'unique','paper_refer':'count'})

In [89]:
groupby_df2 = df.groupby(['institution_infor','year_infor']).aggregate({'paper_name_infor':'unique','paper_refer':'count'})

In [93]:
groupby_df1['paper_name_infor'] = [len(i) for i in groupby_df1['paper_name_infor']]
groupby_df2['paper_name_infor'] = [len(i) for i in groupby_df2['paper_name_infor']]

In [95]:
groupby_df1['ratio'] = groupby_df1['paper_refer'] / groupby_df1['paper_name_infor']
groupby_df2['ratio'] = groupby_df2['paper_refer'] / groupby_df2['paper_name_infor']

In [101]:
groupby_df1

                                                        paper_name_infor  \
journal_infor                               year_infor
 Asia-Pacific Journal of Financial Studies  2002                      27
                                            2003                      24
                                            2004                      32
                                            2005                      28
                                            2006                      36
                                            2007                      30
                                            2008                      30
 선물연구                                       2002                      10
                                            2003                      11
                                            2004                      12
                                            2005                      11
                                            2006                      10
                                            2007                      10
                                            2008                       9
                                            2009                      14
                                            2010                      12
                                            2011                      16
                                            2012                      16
                                            2013                      16
                                            2014                      27
                                            2015                      23
                                            2016                      23
                                            2017                      21
                                            2018                      13
 재무관리연구                                     2002                      18
                                            2003                      23
                                            2004                      17
                                            2005                      15
                                            2006                      18
                                            2007                      25
...                                                                  ...
                                            2014                      32
                                            2015                      32
                                            2016                      25
                                            2017                      30
                                            2018                      16
 재무연구                                       2002                      18
                                            2003                      17
                                            2004                      16
                                            2005                       3
                                            2008                       1
                                            2009                       1
                                            2010                       8
                                            2011                      15
                                            2012                      11
                                            2013                      14
                                            2014                      18
                                            2015                      20
                                            2016                      15
                                            2017                      16
                                            2018                      12
 한국증권학회지                                    2009                      19
                                            2010                      20
                                            2011                      29
                                            2012                      25
                                            2013                      31
                                            2014                      33
                                            2015                      35
                                            2016                      39
                                            2017                      37
                                            2018                      27

                                                        paper_refer      ratio
journal_infor                               year_infor
 Asia-Pacific Journal of Financial Studies  2002                  0   0.000000
                                            2003                  0   0.000000
                                            2004                798  24.937500
                                            2005                675  24.107143
                                            2006                786  21.833333
                                            2007                678  22.600000
                                            2008                995  33.166667
 선물연구                                       2002                  0   0.000000
                                            2003                  0   0.000000
                                            2004                106   8.833333
                                            2005                181  16.454545
                                            2006                224  22.400000
                                            2007                151  15.100000
                                            2008                220  24.444444
                                            2009                442  31.571429
                                            2010                281  23.416667
                                            2011                457  28.562500
                                            2012                448  28.000000
                                            2013                461  28.812500
                                            2014                719  26.629630
                                            2015                677  29.434783
                                            2016                708  30.782609
                                            2017                748  35.619048
                                            2018                  0   0.000000
 재무관리연구                                     2002                  0   0.000000
                                            2003                  0   0.000000
                                            2004                379  22.294118
                                            2005                326  21.733333
                                            2006                401  22.277778
                                            2007                591  23.640000
...                                                             ...        ...
                                            2014               1063  33.218750
                                            2015               1009  31.531250
                                            2016                826  33.040000
                                            2017                928  30.933333
                                            2018                  0   0.000000
 재무연구                                       2002                  0   0.000000
                                            2003                  0   0.000000
                                            2004                  0   0.000000
                                            2005                103  34.333333
                                            2008                 32  32.000000
                                            2009                 29  29.000000
                                            2010                278  34.750000
                                            2011                863  57.533333
                                            2012                473  43.000000
                                            2013                506  36.142857
                                            2014               1679  93.277778
                                            2015               1447  72.350000
                                            2016               1090  72.666667
                                            2017                787  49.187500
                                            2018                  0   0.000000
 한국증권학회지                                    2009                635  33.421053
                                            2010                603  30.150000
                                            2011                845  29.137931
                                            2012                729  29.160000
                                            2013                964  31.096774
                                            2014               1017  30.818182
                                            2015               1148  32.800000
                                            2016               1407  36.076923
                                            2017               1340  36.216216
                                            2018                  0   0.000000

[66 rows x 3 columns]

In [100]:
groupby_df2

                              paper_name_infor  paper_refer      ratio
institution_infor year_infor
 한국재무관리학회         2002                      18            0   0.000000
                  2003                      23            0   0.000000
                  2004                      17          379  22.294118
                  2005                      15          326  21.733333
                  2006                      18          401  22.277778
                  2007                      25          591  23.640000
                  2008                      27          864  32.000000
                  2009                      31          814  26.258065
                  2010                      30         1002  33.400000
                  2011                      30          815  27.166667
                  2012                      27          845  31.296296
                  2013                      31          988  31.870968
                  2014                      32         1063  33.218750
                  2015                      32         1009  31.531250
                  2016                      25          826  33.040000
                  2017                      30          928  30.933333
                  2018                      16            0   0.000000
 한국재무학회           2002                      18            0   0.000000
                  2003                      17            0   0.000000
                  2004                      16            0   0.000000
                  2005                       3          103  34.333333
                  2008                       1           32  32.000000
                  2009                       1           29  29.000000
                  2010                       8          278  34.750000
                  2011                      15          863  57.533333
                  2012                      11          473  43.000000
                  2013                      14          506  36.142857
                  2014                      18         1679  93.277778
                  2015                      20         1447  72.350000
                  2016                      15         1090  72.666667
...                                        ...          ...        ...
 한국증권학회           2006                      36          786  21.833333
                  2007                      30          678  22.600000
                  2008                      30          995  33.166667
                  2009                      19          635  33.421053
                  2010                      20          603  30.150000
                  2011                      29          845  29.137931
                  2012                      25          729  29.160000
                  2013                      31          964  31.096774
                  2014                      33         1017  30.818182
                  2015                      35         1148  32.800000
                  2016                      39         1407  36.076923
                  2017                      37         1340  36.216216
                  2018                      27            0   0.000000
 한국파생상품학회         2002                      10            0   0.000000
                  2003                      11            0   0.000000
                  2004                      12          106   8.833333
                  2005                      11          181  16.454545
                  2006                      10          224  22.400000
                  2007                      10          151  15.100000
                  2008                       9          220  24.444444
                  2009                      14          442  31.571429
                  2010                      12          281  23.416667
                  2011                      16          457  28.562500
                  2012                      16          448  28.000000
                  2013                      16          461  28.812500
                  2014                      27          719  26.629630
                  2015                      23          677  29.434783
                  2016                      23          708  30.782609
                  2017                      21          748  35.619048
                  2018                      13            0   0.000000

[66 rows x 3 columns]